<h1>Venues:</h1>

<ul>
<% @venues.each do |venue| %>
<li><%= link_to venue.name, venue_path(venue) %></li>
<% end %>
</ul>

<%= form_tag(venues_path, method: :get) do %>
Venue with capacity over: <%= text_field_tag(:search, params[:search]) %>
<%= submit_tag "Search", name: nil %>
<% end %>