/******LAYOUT******/
.banner {
    background-image: url("chicago_fireworks");
    background-position: center;
    background-size: cover;
    height: 310px;
    background-repeat: no-repeat;
    color: lightsteelblue;
    text-align: center;
    font-family: cursive;
    
}

.navbar{
    background-color: midnightblue;
    padding: 10px;
   

}
.nav_link {
    padding: 10px;
    text-decoration: none;
    color: whitesmoke;

}

.menu_bar {
    text-align: center;
    height: 80px;
    background-color: midnightblue;
}


.menu_link {
    color: whitesmoke;
    text-decoration: none;
    font-size: 25px;
    padding: 30px;
}