// Place all the styles related to the clients controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.client_form {
    text-align: center;
    font-size: 25px;
}
.form_submit_button {
    background-color: #e7e7e7; color: black;
    font-size: 25px;
}
input[type=text] {
    border: 2px solid, black;
    border-radius: 4px;
    font-size: 20px;
    
  }

  input[type=password] {
    border: 2px solid, black;
    border-radius: 4px;
    font-size: 20px;
  }



.login_form {
  text-align: center;
  position: relative;
  right: 50px;
}

.profile_picture {
  width: 150px;
  position: relative;
  left: 10px;
}