// Place all the styles related to the venues controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.venue_logo {
    width: 200px;
    background-color: black;
}

.column {
    float: left;
    width: 33.33%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
  }

  .btn {
    border: 2px solid black;
    background-color: white;
    color: rgb(135, 139, 143);
    padding: 7px 21px;
    font-size: 16px;
    cursor: pointer;
  }

  .search { border-color: rgb(135, 139, 143);
    color: rgb(3, 16, 29)
  }

  .search:hover {
    background: rgb(135, 139, 143);
    color: white;
  }
.venue_background1 {
    background-image: url("bar_background");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color:white;
    text-align: left;
    font-family: cursive;
    font-size: 30px;
}

.venue_background2 {
  background-image: url("restaurant_background");
  background-position: center;
  background-size: cover;
  font-size: 30px;
  background-repeat: no-repeat;
  color: white;
  text-align: left;
  font-family: cursive;

}

.venue_background3 {
  background-image: url("club_background");
  background-position: center;
  background-size: cover;
  font-size: 30px;
  background-repeat: no-repeat;
  color: white;
  text-align: left;
  font-family: cursive;
}