<h1>Eventsaholic</h1>

<h2><%= link_to('Log in', login_path) %> or <%= link_to('Sign up', new_client_path) %></h2>

<p><%= link_to('See All Venues', venues_path) %></p>
<p><%= link_to('See All Vendors', vendors_path) %></p>
